<div class="modal fade" id="carDeleteModal" tabindex="-1" role="dialog" aria-labelledby="carDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="carDeleteModalLabel">Add a new car</h4>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you would like to remove {{fullName}} from your car list?. This will also remove all the
            related treatments.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button {{action 'deleteCar' model}} type="button" class="btn btn-primary">Delete</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
