modules/
logs/*.log

# compiled output
*/dist
*/tmp
/static/*

# dependencies
frontend/node_modules
frontend/vendor/*
!frontend/vendor/ember-shim.js
!frontend/vendor/qunit-shim.js
!frontend/vendor/shims
!frontend/vendor/loader.js
!frontend/vendor/browserid

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/libpeerconnection.log
.DS_Store
Thumbs.db
coverage
.coverage
vagrant_ansible_inventory_default
