<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {{link-to 'Add Car' 'cars.add' class='btn btn-primary btn-block'}}
      </ul>
      <ul class="nav nav-sidebar">
        {{#with model as cars}}
          {{#each car in cars}}
            <li>{{link-to car.fullName 'car' car}}</li>
            {{#if car.treatments}}
              <li class="dropdown-header">{{link-to 'Treatments' 'treatments' car.id}}</li>
            {{/if}}
          {{/each}}
        {{/with}}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{outlet}}
    </div>
  </div>
</div>
