<div class="jumbotron">
  <div class="container">
    <h1>Hi!</h1>
    <p>My car history allows you keep track of all of the treatments done to your car. It's free and Open Source!</p>
    <p>
      {{link-to "Get started" "cars" class="btn btn-primary btn-lg" role="button"}}
    </p>
  </div>
</div>
