<legend>Treatment Details</legend>
<table class="table table-stripped table-bordered" id="treatmentDetails">
  <tr>
    <th>Done By</th>
    <th>Description</th>
    <th class="hidden">Date</th>
    <th>Kilometrage</th>
  </tr>
  <tr>
    <td>{{doneBy}}</td>
    <td>{{description}}</td>
    <td class="hidden">{{date}}</td>
    <td>{{kilometrage}}</td>
  </tr>
</table>
