<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8" />
    	<title>My car history</title>
       	<!--CSS Files-->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
		{% block extra_css %}
		{% endblock extra_css %}
		<!--JavaScript Libs-->
		<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/libs/bootstrap/dropdown.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/libs/bootstrap/datepicker.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/libs/bootstrap/collapse.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/libs/bootstrap/tab.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>
		{% block extra_js %}
		{% endblock extra_js %}
    </head>
    <body>
        <div class="modal hide" id="{{ editor_dialog_id }}"></div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">
                    Car History
                    </a>
                    <ul class="nav">
                        <li>
                            <a href="{% url mycarhistory-main %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url cars-main %}">Cars</a>
                        </li>
                        <li>
                            <a href="{% url mechanics-main %}">Mechanics</a>
                        </li>     
                    </ul>
                    <ul class="nav">
                        <li class="divider-vertical" /li>
                        <li class="dropdown">
                            <div class="btn-group">
                                <button class="btn btn-info btn-small">Actions</button>
                                <button class="btn dropdown-toggle btn-info btn-small" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                {% for action in actions %}
                                <li>
                                    <a data-toggle="modal" href="#{{ editor_dialog_id }}" onclick="$('#{{ editor_dialog_id }}').load('{{ action.url }}');">{{ action.title }}</a>
                                </li>
                                {% endfor %}
                                </ul>
                            </div>

                        </li>
                    </ul>
                    <ul class="nav pull-right">
                    	<li class="divider-vertical" /li>
                    	<li>
	                        <div class="btn-group pull-right">
	                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> {{ user }} <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                {% if user.is_authenticated %}
	                                    <li>
	                                        <a href="#">Profile</a>
	                                        {% comment %}<a href="{% url user_profile %}">Profile</a>{% endcomment %}
	                                    </li>
	                                    <li class="divider"></li>
	                                    <li>
	                                        <a href="#">Sign Out</a>
	                                        {% comment %}<a href="{% url sign_out %}">Sign Out</a>{% endcomment %}
	                                    </li>
	                                {% else %}
	                                    <li>
	                                        <a href="#">Sign In</a>
	                                        {% comment %}<a href="{% url sign_in %}">Sign In</a>{% endcomment %}
	                                    </li>                            
	                                {% endif %}
	                            </ul>
	                        </div>                    		
                    	</li>
                    </ul>
                </div>
            </div>
        </div>
    	{% block body %}
    	{% endblock body %}
    </body>
</html>
