<form id="{{ editor_form_id }}" action={{ submit_url }} method="POST">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Editor</h3>
	</div>
	<div class="modal-body">
		{% if not form.is_valid %}
			<div class='hide'>invalid_form</div>
		{% endif %}
		{% csrf_token %}
		<table>
		    {% for field in form %}
		    		<tr>
						<td>{{ field.label_tag }}</td>
						<td>{{ field }}</td>
						<td class='field_error'>{{ field.errors }}</td>
		    		</tr>
		    {% endfor %}
	    </table>
	</div>
	<div class="modal-footer">
    	<a href="#" class="btn" data-dismiss="modal">Cancel</a>
  		<a href="#" data-toggle="modal" class="btn btn-primary" onclick="genericLoadDialog('#{{ editor_form_id }}', '#{{ editor_dialog_id }}', null, 'invalid_form');">Save</a>   
	</div>
</form>		

