<script type="text/javascript">
	$('.datePicker').datepicker();
</script>
<form id="{{ form_id }}" action={{ submit_url }} method="POST">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" onclick="hideFormFieldTooltips()">×</button>
		<h3>Editor</h3>
	</div>
	<div class="modal-body">
		{% if not form.is_valid %}
			<div class='hide'>invalid_form</div>
		{% endif %}
		{% csrf_token %}
		<table>
		    {% for field in form %}
		    		<tr>
						<td>{{ field.label_tag }}</td>
						<td class="form_field" title="{{ field.errors.as_text }}">{{ field }}</td>
		    		</tr>
		    {% endfor %}
	    </table>
	</div>
	<div class="modal-footer">
    	<a href="#" class="btn" data-dismiss="modal" onclick="hideFormFieldTooltips()">Cancel</a>
  		<a href="#" data-toggle="modal" class="btn btn-primary" onclick="{{ loader }}('#{{ form_id }}', '#{{ dialog_id }}', 'invalid_form', '{{ loader_args }}');">Save</a>   
	</div>
</form>		

