{% load car_utils %}
<h2>{{ header }} Details</h2>
<table class="table table-striped">
    <tbody>
        {% for key, value in object.get_model_attrs %}
        <tr>
            <td>{{ key|replace_under_with:" "|capfirst }}</td>
            <td>{{ value|capfirst }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% for action in actions %}
    <a class="btn btn-inverse" data-toggle="modal" href="#{{ dialog_id }}" onclick="$('#{{ dialog_id }}').load('{{ action.url }}');">{{ action.title }}</a>
{% endfor %}