<!DOCTYPE html>
{% load staticfiles %}
{% load compressed %}
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>{% block page_title %}My Car History{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL}}libs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL}}libs/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/browserid/persona-buttons.css" />
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <div id="emberRoot"></div>
    <script type="text/javascript">
        {% if user.is_authenticated %}
          var CURRENT_USER_AUTH_TOKEN = "{{ user.get_auth_token }}";
        {% endif %}
    </script>

    <script type="text/x-handlebars" id="application">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-header">
        {% verbatim %}
          {{link-to "My Car History" "main" class="navbar-brand"}}
        {% endverbatim %}
      </div>
      <div>
        <ul class="nav navbar-nav">
          {% verbatim %}
          <li>
              {{link-to "Cars" "cars"}}
          </li>
          <li>
            {{link-to "About" "about"}}
          </li>
          {% endverbatim %}
          <li class="divider-vertical"></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          {% if user.is_authenticated %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user">
            {{ user.email }} <b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li>
                <a href="/browserid/logout/" data-next="None" class="browserid-logout">
                  <span>Log Out</span>
                </a>
              </li>
            </ul>
          {% else %}
            {% verbatim %}
              {{link-to "Log In" "login"}}
            {% endverbatim %}
          {% endif %}
        </li>
      </ul>
    </nav>
      {% verbatim %}
        {{outlet}}
      {% endverbatim %}
    </script>
    {% block page_content %}{% endblock page_content%}

    {% comment %}
    ===============
    JavaScript Libs
    ===============
    {% endcomment %}
    {% compressed_js 'libs' %}
    <script type="text/javascript" src="/static/browserid/browserid.js"></script>
    <script type="text/javascript" src="https://login.persona.org/include.js"></script>
    {% comment %}
    =========
    Ember App
    =========
    {% endcomment %}
    {% compressed_js 'app' %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
