<!DOCTYPE html>
{% load browserid %}
<html>
  <head>
    <meta charset=utf-8>
    <title>{% block page_title %}My Car History{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL}}libs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL}}libs/css/bootstrap-theme.min.css"/>
    {% browserid_css %}
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <script type="text/javascript">
        {% if user.is_authenticated %}
          var CURRENT_USER_AUTH_TOKEN = "{{ user.get_auth_token }}";
        {% endif %}
    </script>
  
    {% browserid_info %}
    <div class="authentication">
      {% if user.is_authenticated %}
        <p>Hello {{ user.email }}</p>
        {% browserid_logout text='Logout' %}
      {% else %}
        {% browserid_login text='Login' color='dark' %}
      {% endif %}
    </div>
    {% block page_content %}{% endblock page_content%}
    {% comment %}
    ===============
    JavaScript Libs
    ===============
    {% endcomment %}

    <script src="{{ STATIC_URL }}libs/js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/js/handlebars-1.0.0.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/js/ember.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/js/ember-data.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/js/ember-data-django-rest-adapter.js" type="text/javascript"></script>
    {% browserid_js %}
    {% comment %}
    =========
    Ember App
    =========
    {% endcomment %}
    <script src="{{ STATIC_URL }}app/app.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/controllers/car.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/models/car.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/views/car.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/adapters/django_rest.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}app/router.js" type="text/javascript"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
