{% extends 'base.html' %}
{% block page_content %}
{% verbatim %}

<script type="text/x-handlebars" id="cars">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills">
        {{#each model}}
          <li>{{#link-to 'car' this}}{{fullName}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
</script>

<script type="text/x-handlebars" id="car">
  {{#with model as car}}
    {{car.brand}}-{{car.model}}
  {{/with}}
</script>
{% endverbatim %}
{% endblock page_content %}
