{% extends 'base.html' %}
{% block page_content %}
{% verbatim %}

<script type="text/x-handlebars" id="404">
  <div class="container">
    <div class="alert alert-info"><strong>404</strong> The requested resource cannot be found.</div>
  </div>
</script>

<script type="text/x-handlebars" id="error">
  <div class="container">
    <div class="alert alert-{{unbound determine-error-class model}}"><strong>{{model.status}}</strong> {{model.responseText}}</div>
  </div>
</script>

<script type="text/x-handlebars" id="cars">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#carAddModal">
        <span class="glyphicon glyphicon-plus"></span> Add Car
      </button>
      <ul class="nav nav-pills nav-stacked">
        {{#with model as cars}}
          {{#each car in cars}}
            <li>{{#link-to 'car' car}}{{car.fullName}}{{/link-to}}</li>
            {{#if car.treatments}}
              <li class="dropdown-header">{{#link-to 'treatments' car.id}}Treatments{{/link-to}}</li>
            {{/if}}
          {{/each}}
        {{/with}}
      </ul>
    </div>
    <div class="col-md-9">
      {{partial 'car/add'}}
      {{outlet}}
    </div>
  </div>
</div>
</script>

<script type="text/x-handlebars" id="car">
  <div>
    <div class="row">
      {{partial 'car/edit'}}
      {{partial 'car/delete'}}
    </div>
    {{#with model as car}}
    <div class="row">
      <legend>Car Details</legend>
      <table class="table table-striped">
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Year</th>
          <th>Owners</th>
          <th>Automatic?</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>{{car.brand}}</td>
          <td>{{car.model}}</td>
          <td>{{car.year}}</td>
          <td>{{car.amountOfOwners}}</td>
          <td>{{car.isAutomatic}}</td>
          <td>
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#carEditModal" title="Edit">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#carDeleteModal" title="Remove">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      {{outlet}}
    </div>
    {{/with}}
  </div>
</script>


<script type="text/x-handlebars" id="treatments">
  <legend>Treatments</legend>
  <div id="treatmentList">
    <input class="search" placeholder="Search" {{bind-attr value=search}}/>
    <button class="sort" data-sort="done_by">
      Sort by mechanic
    </button>
    <ul class="list-group">
    {{#each model}}
      <li class="list-group-item">
        {{doneBy}} - {{date}} -{{kilometrage}} - {{#link-to 'treatment' this}}Details{{/link-to}}
      </li>
    {{/each}}
    </ul>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" id="treatment">
  <legend>Treatment Details</legend>
  <table class="table table-stripped table-bordered" id="treatmentDetails">
    <tr>
      <th>Done By</th>
      <th>Description</th>
      <th class="hidden">Date</th>
      <th>Kilometrage</th>
    </tr>
    <tr>
      <td>{{doneBy}}</td>
      <td>{{description}}</td>
      <td class="hidden">{{date}}</td>
      <td>{{kilometrage}}</td>
    </tr>
  </table>

  <button onclick="$('#treatmentDetails tr:eq(0) th:eq(2), #treatmentDetails tr:eq(1) td:eq(2)').toggleClass('hidden');">Showz!</button>
</script>


<script type="text/x-handlebars" id="car/_edit">
  <div class="modal fade" id="carEditModal" tabindex="-1" role="dialog" aria-labelledby="carEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="carEditModalLabel">Edit {{fullName}} details</h4>
        </div>
        <div class="modal-body">
          {{partial 'carEditForm'}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button {{action 'updateCar' model}} type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

<script type="text/x-handlebars" id="car/_add">
  <div class="modal fade" id="carAddModal" tabindex="-1" role="dialog" aria-labelledby="carAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="carAddModalLabel">Add a new car</h4>
        </div>
        <div class="modal-body">
          {{partial 'carEditForm'}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button {{action 'addCar'}} type="button" class="btn btn-primary">Add</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

<script type="text/x-handlebars" id="car/_delete">
  <div class="modal fade" id="carDeleteModal" tabindex="-1" role="dialog" aria-labelledby="carDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="carDeleteModalLabel">Add a new car</h4>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you would like to remove {{fullName}} from your car list?. This will also remove all the
            related treatments.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button {{action 'deleteCar' model}} type="button" class="btn btn-primary">Delete</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

<script type="text/x-handlebars" id="carEditForm">
    <form role="form">
      <div class="form-group">
        <label>Brand</label>
        {{input type="text" class="form-control" value=brand}}
      </div>

      <div class="form-group">
        <label>Model</label>
        {{input type="text" class="form-control" value=model.model}}
      </div>

      <div class="form-group">
        <label>Year</label>
        {{view Ember.Select content=years value=year class="form-control"}}
      </div>

      <div class="form-group">
        <label>Gearbox type</label>
        {{view Ember.Select
               content=gearboxTypes
               optionValuePath="content.type"
               optionLabelPath="content.label"
               value=gearboxType
               class="form-control"}}
      </div>

      <div class="form-group">
        <label>Amount of owners</label>
        {{input type="number" class="form-control" value=amountOfOwners}}
        <div class="form-error-field" data-toggle="tooltip" title="">{{controller.errors.amountOfOwners}}</div>
      </div>
    </form>
</script>


{% endverbatim %}



{% endblock page_content %}
